@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.w-four {
  width: calc(25% - 12px);
}

.w-half {
  width: calc(50% - 10px);
}

.w-third{
  width: 32%;
}